/* src/styles/global.css */
:root {
  --color-bg: #0E1B24;
  --color-primary: #00C2FF;
  --color-secondary: #A8F1FF;
  --color-text: #FFFFFF;
  --color-muted: #A0AAB8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: sans-serif;
}
